Download the data from
https://www.kaggle.com/hugomathien/soccer/data

%%bash

mv ~/Downloads/soccer.zip .
unzip soccer.zip

In [16]:
import sqlite3
import xml.etree.ElementTree as ET
import pandas as pd

conn = sqlite3.connect('database.sqlite')
c = conn.cursor()

In [40]:
country_name = ('Spain',)
spain_id = pd.read_sql_query('SELECT * FROM country WHERE name=?', conn, params=t).iloc[0]['id']
pd.read_sql_query('SELECT * FROM country WHERE name=?', conn, params=t)

      id   name
0  21518  Spain

In [52]:
t = (str(spain_id), )
pd.read_sql_query('SELECT *  FROM match where country_id = ?', conn, params = t)

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,21518,21518,21518,2008/2009,1,2008-08-30 00:00:00,530023,10267,8661,3,...,5.00,1.65,3.40,4.50,1.75,3.30,5.00,1.67,3.40,5.00
1,21519,21518,21518,2008/2009,1,2008-08-31 00:00:00,530084,8371,10205,1,...,2.60,2.90,3.20,2.25,2.75,3.20,2.50,2.80,3.25,2.30
2,21520,21518,21518,2008/2009,1,2008-08-31 00:00:00,530085,9783,8633,2,...,1.90,3.25,3.25,2.00,3.50,3.20,2.10,3.25,3.25,2.10
3,21521,21518,21518,2008/2009,1,2008-08-31 00:00:00,530086,8388,8634,1,...,1.57,7.00,3.75,1.45,6.50,3.75,1.53,5.50,3.75,1.53
4,21522,21518,21518,2008/2009,1,2008-08-31 00:00:00,530087,8696,8302,1,...,2.30,2.70,3.10,2.40,2.75,3.25,2.45,2.70,3.25,2.38
5,21523,21518,21518,2008/2009,1,2008-08-31 00:00:00,530088,9869,8305,1,...,2.70,2.50,3.10,2.65,2.50,3.20,2.75,2.60,3.20,2.40
6,21524,21518,21518,2008/2009,1,2008-08-31 00:00:00,530089,8603,8479,0,...,4.50,1.75,3.25,4.35,1.95,3.20,4.00,1.73,3.30,4.50
7,21525,21518,21518,2008/2009,1,2008-08-30 00:00:00,530090,8558,10281,1,...,4.00,1.90,3.25,3.50,2.00,3.20,3.75,1.80,3.25,4.33
8,21526,21518,21518,2008/2009,1,2008-08-31 00:00:00,530091,8315,9865,1,...,4.00,1.90,3.20,3.60,2.00,3.20,3.75,1.91,3.25,3.75
9,21527,21518,21518,2008/2009,1,2008-08-31 00:00:00,530092,9906,9864,4,...,9.00,1.45,3.75,7.00,1.50,3.60,7.50,1.50,3.75,6.00
10,21528,21518,21518,2008/2009,10,2008-11-09 00:00:00,530233,8302,8479,1,...,8.50,1.40,4.20,8.50,1.38,4.33,8.50,1.33,4.33,9.00
11,21529,21518,21518,2008/2009,10,2008-11-09 00:00:00,530234,8696,9869,1,...,4.00,2.00,3.20,3.40,2.05,3.20,3.75,1.91,3.30,3.75
12,21530,21518,21518,2008/2009,10,2008-11-09 00:00:00,530235,8388,8603,2,...,2.88,2.50,3.10,2.60,2.60,3.20,2.70,2.40,3.25,2.70
13,21531,21518,21518,2008/2009,10,2008-11-09 00:00:00,530236,9783,8558,1,...,3.40,2.10,3.20,3.20,2.15,3.25,3.40,2.10,3.25,3.25
14,21532,21518,21518,2008/2009,10,2008-11-09 00:00:00,530237,8371,9906,0,...,2.10,2.90,3.20,2.25,3.10,3.25,2.25,3.00,3.25,2.20
15,21533,21518,21518,2008/2009,10,2008-11-09 00:00:00,530238,10205,9865,2,...,7.50,1.40,3.75,7.50,1.53,3.65,7.00,1.40,4.00,7.50
16,21534,21518,21518,2008/2009,10,2008-11-08 00:00:00,530239,8633,9864,4,...,13.00,1.22,6.00,11.00,1.25,5.50,11.00,1.22,5.50,11.00
17,21535,21518,21518,2008/2009,10,2008-11-08 00:00:00,530240,8634,10281,6,...,17.00,1.17,6.50,15.00,1.19,6.00,15.00,1.17,6.00,15.00
18,21536,21518,21518,2008/2009,10,2008-11-09 00:00:00,530241,8305,10267,0,...,2.40,2.90,3.20,2.35,2.90,3.20,2.40,2.75,3.20,2.40
19,21537,21518,21518,2008/2009,10,2008-11-09 00:00:00,530242,8661,8315,3,...,3.90,2.00,3.20,3.40,2.10,3.30,3.40,2.00,3.25,3.50
20,21538,21518,21518,2008/2009,11,2008-11-16 00:00:00,530243,8603,8696,3,...,4.00,1.90,3.25,4.00,1.95,3.25,3.85,2.00,3.25,3.50
21,21539,21518,21518,2008/2009,11,2008-11-15 00:00:00,530244,10267,9869,2,...,10.00,1.33,4.50,9.00,1.38,4.25,8.50,1.36,4.33,7.50
22,21540,21518,21518,2008/2009,11,2008-11-16 00:00:00,530245,8558,8388,3,...,5.50,1.70,3.50,4.80,1.75,3.40,4.75,1.73,3.25,4.75
23,21541,21518,21518,2008/2009,11,2008-11-16 00:00:00,530246,9906,9783,4,...,6.00,1.60,3.60,5.50,1.67,3.50,5.20,1.67,3.40,5.00
24,21542,21518,21518,2008/2009,11,2008-11-16 00:00:00,530247,8315,8371,2,...,3.60,2.10,3.25,3.40,2.10,3.25,3.40,2.00,3.25,3.50
25,21543,21518,21518,2008/2009,11,2008-11-16 00:00:00,530248,9865,8661,2,...,3.60,2.00,3.20,3.75,2.00,3.25,3.65,2.00,3.25,3.50
26,21544,21518,21518,2008/2009,11,2008-11-16 00:00:00,530249,9864,10205,2,...,2.20,3.30,3.30,2.10,3.40,3.25,2.10,3.00,3.25,2.20
27,21545,21518,21518,2008/2009,11,2008-11-15 00:00:00,530250,10281,8633,1,...,1.90,4.00,3.25,1.90,4.00,3.30,1.90,3.80,3.30,1.95
28,21546,21518,21518,2008/2009,11,2008-11-16 00:00:00,530251,8305,8302,0,...,2.38,2.80,3.25,2.40,2.85,3.25,2.40,2.88,3.20,2.30
29,21547,21518,21518,2008/2009,11,2008-11-16 00:00:00,530252,8479,8634,0,...,1.36,8.00,5.00,1.33,8.50,4.50,1.36,8.00,4.50,1.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3010,24528,21518,21518,2015/2016,7,2015-10-03 00:00:00,2030142,8302,8634,2,...,NaN,4.10,3.90,1.91,NaN,NaN,NaN,NaN,NaN,NaN
3011,24529,21518,21518,2015/2016,7,2015-10-03 00:00:00,2030143,8306,8372,0,...,NaN,2.05,3.40,4.10,NaN,NaN,NaN,NaN,NaN,NaN
3012,24530,21518,21518,2015/2016,7,2015-10-02 00:00:00,2030144,9910,8305,0,...,NaN,1.50,4.50,7.50,NaN,NaN,NaN,NaN,NaN,NaN
3013,24531,21518,21518,2015/2016,7,2015-10-04 00:00:00,2030145,8581,10205,1,...,NaN,4.40,3.60,1.93,NaN,NaN,NaN,NaN,NaN,NaN
3014,24532,21518,21518,2015/2016,7,2015-10-04 00:00:00,2030146,9906,8633,1,...,NaN,3.13,3.40,2.45,NaN,NaN,NaN,NaN,NaN,NaN
3015,24533,21518,21518,2015/2016,7,2015-10-03 00:00:00,2030147,9864,8560,3,...,NaN,2.40,3.25,3.30,NaN,NaN,NaN,NaN,NaN,NaN
3016,24534,21518,21518,2015/2016,7,2015-10-04 00:00:00,2030148,8315,10267,3,...,NaN,2.38,3.40,3.25,NaN,NaN,NaN,NaN,NaN,NaN
3017,24535,21518,21518,2015/2016,7,2015-10-03 00:00:00,2030149,7878,9783,1,...,NaN,2.63,3.25,3.00,NaN,NaN,NaN,NaN,NaN,NaN
3018,24536,21518,21518,2015/2016,7,2015-10-03 00:00:00,2030150,8558,9869,1,...,NaN,2.00,3.40,4.30,NaN,NaN,NaN,NaN,NaN,NaN
3019,24537,21518,21518,2015/2016,7,2015-10-04 00:00:00,2030151,8370,8603,0,...,NaN,2.20,3.80,3.30,NaN,NaN,NaN,NaN,NaN,NaN
3020,24538,21518,21518,2015/2016,8,2015-10-17 00:00:00,2030152,8634,8370,5,...,NaN,1.15,9.50,19.00,NaN,NaN,NaN,NaN,NaN,NaN
3021,24539,21518,21518,2015/2016,8,2015-10-17 00:00:00,2030153,8372,8302,1,...,NaN,3.60,3.50,2.20,NaN,NaN,NaN,NaN,NaN,NaN
3022,24540,21518,21518,2015/2016,8,2015-10-18 00:00:00,2030154,8305,8306,4,...,NaN,2.20,3.30,3.75,NaN,NaN,NaN,NaN,NaN,NaN
3023,24541,21518,21518,2015/2016,8,2015-10-18 00:00:00,2030155,10205,9910,1,...,NaN,2.05,3.70,3.75,NaN,NaN,NaN,NaN,NaN,NaN
3024,24542,21518,21518,2015/2016,8,2015-10-17 00:00:00,2030156,8633,8581,3,...,NaN,1.08,13.00,34.00,NaN,NaN,NaN,NaN,NaN,NaN
3025,24543,21518,21518,2015/2016,8,2015-10-18 00:00:00,2030157,8560,9906,0,...,NaN,4.30,3.30,2.05,NaN,NaN,NaN,NaN,NaN,NaN
3026,24544,21518,21518,2015/2016,8,2015-10-17 00:00:00,2030158,10267,9864,3,...,NaN,1.62,4.10,6.25,NaN,NaN,NaN,NaN,NaN,NaN
3027,24545,21518,21518,2015/2016,8,2015-10-18 00:00:00,2030159,9783,8315,2,...,NaN,2.70,3.25,2.88,NaN,NaN,NaN,NaN,NaN,NaN
3028,24546,21518,21518,2015/2016,8,2015-10-19 00:00:00,2030160,9869,7878,3,...,NaN,2.00,3.40,4.33,NaN,NaN,NaN,NaN,NaN,NaN
3029,24547,21518,21518,2015/2016,8,2015-10-17 00:00:00,2030161,8603,8558,1,...,NaN,2.05,3.50,4.00,NaN,NaN,NaN,NaN,NaN,NaN
3030,24548,21518,21518,2015/2016,9,2015-10-25 00:00:00,2030162,8634,8372,3,...,NaN,1.11,11.00,31.00,NaN,NaN,NaN,NaN,NaN,NaN
3031,24549,21518,21518,2015/2016,9,2015-10-24 00:00:00,2030163,8302,8305,5,...,NaN,1.50,4.60,7.50,NaN,NaN,NaN,NaN,NaN,NaN
3032,24550,21518,21518,2015/2016,9,2015-10-25 00:00:00,2030164,8306,10205,0,...,NaN,3.60,3.40,2.20,NaN,NaN,NaN,NaN,NaN,NaN
3033,24551,21518,21518,2015/2016,9,2015-10-24 00:00:00,2030165,9910,8633,1,...,NaN,3.90,4.00,1.93,NaN,NaN,NaN,NaN,NaN,NaN
3034,24552,21518,21518,2015/2016,9,2015-10-25 00:00:00,2030166,8581,8560,0,...,NaN,2.75,3.13,2.90,NaN,NaN,NaN,NaN,NaN,NaN
3035,24553,21518,21518,2015/2016,9,2015-10-25 00:00:00,2030167,9906,10267,2,...,NaN,1.57,4.00,7.00,NaN,NaN,NaN,NaN,NaN,NaN
3036,24554,21518,21518,2015/2016,9,2015-10-24 00:00:00,2030168,9864,9783,2,...,NaN,2.30,3.40,3.40,NaN,NaN,NaN,NaN,NaN,NaN
3037,24555,21518,21518,2015/2016,9,2015-10-26 00:00:00,2030169,8315,9869,3,...,NaN,1.55,4.20,7.00,NaN,NaN,NaN,NaN,NaN,NaN
3038,24556,21518,21518,2015/2016,9,2015-10-24 00:00:00,2030170,7878,8603,1,...,NaN,2.30,3.40,3.30,NaN,NaN,NaN,NaN,NaN,NaN
3039,24557,21518,21518,2015/2016,9,2015-10-23 00:00:00,2030171,8370,8558,3,...,NaN,2.20,3.60,3.50,NaN,NaN,NaN,NaN,NaN,NaN

In [260]:
def parse_xml(xml_column):
    """
    Given the name of xml_column, produces a  dataframe with
    the xml_column extracted out including the match_id
    """
    df = pd.read_sql_query('SELECT match_api_id, {} FROM match WHERE country_id=21518;'.format(xml_column), conn)
    
    def parse_xml_vec(element):
        root = ET.XML(element)
        return [{val.tag: val.text for val in node} for node in root]

    def add_match_api(row):
        extraction = row[0]
        extraction['match_api_id'] = row['match_api_id']
        return extraction

    df['index'] = df.index
    df['extracted_xml'] = df[xml_column].apply(lambda x: parse_xml_vec(x) if x is not None else [])

    exploded = df.extracted_xml.apply(pd.Series).stack().reset_index()

    merged = exploded.merge(df, left_on = 'level_0', right_on = 'index')

    merged['full_extraction'] = merged.apply(add_match_api, axis = 1)
    return pd.DataFrame(list(merged['full_extraction']))

In [267]:
goals_df = parse_xml('goal')
shotoff_df = parse_xml('shotoff')
shoton_df = parse_xml('shoton')
foulcommit_df = parse_xml('foulcommit')
card_df = parse_xml('card')
corner_df = parse_xml('corner')
cross_df = parse_xml('possession')